ul{
    list-style-type: none;
    padding: 0;
    font-size: 30px;
}
li{
    border: 1px solid black;
    margin-bottom: 5px;
}
header{
    border: 1px solid black;
    width: 25%;
    height: 99vh;
}
body{
    margin: 0;
    display: flex;
    height: 99vh;
}
button{
    background-color: white;
    width: 100px;
    height: 200px;
    font-size: 30px;
    align-self:center;
}