:root{
    --background-base: #8CE2F1;
    --accent-pink: #F18CE2;
    --yellow: #E2F18C;
    --text-base: #0e1216;
}
ul{
    list-style-type: none;
    padding: 0;
    font-size: 30px;
}
li{
    border: 1px solid black;
    margin-bottom: 5px;
}
header{
    border: 1px solid black;
    width: 25%;
    height: 99vh;
    background-color: white;
}
body{
    margin: 0;
    display: flex;
    height: 99vh;
    background-image: linear-gradient(to bottom, var(--background-base), white);
    font-family: "google sans code";
}
button{
    background-color: white;
    width: 100px;
    height: 200px;
    font-size: 30px;
    align-self:center;
}
